@import url('https://fonts.googleapis.com/css?family=Nova+Flat');

body{    
    background-color:rgb(43, 66, 91);
    cursor: url(http://www.rw-designer.com/cursor-view/21658.gif), auto;
    touch-action: none;
    background-image: url(images/bg-6.png);
    display: fixed;
    text-shadow: 2px 1px 8px black;
    font-family: 'Nova Flat', cursive;
}
.dropdown {
    display: inline-block;
    position: relative;
    float: right;
}
.dropdown button{
    border: 1px solid #3498db;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Nova Flat', cursive;
    cursor: pointer;
    transition: 0.3s;

}
.dropdown button:hover{
    background-color: skyblue; 
}
.dropdown div{
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    z-index: 1;
    visibility: hidden;
    position: relative;
    min-width: 100%;
    opacity: 0;
    transition: 0.3s;
}
.dropdown:hover div{
    visibility: visible;
    opacity: 1;
}
.dropdown div a{
    display: block;
    text-decoration: none;
    padding: 8px;
    color: #000;
    transition: -1s;
    white-space: nowrap;
}
.dropdown div a:hover{
    background-color: skyblue;
    color: #fff;
}
h2, h3 {
    text-align: right;
    color: red;
}
h1 {
    text-align: center;
    color : red;
}
game{
    margin: 30px auto;
    display:block;
    height: 600px;
    width: 352px;
    position: relative;
    box-shadow: 5px 0px 100px darkviolet;
    background-image: linear-gradient(#FEAC5E, #C779D0, #4BC0C8);
}

blind{
    margin-top: 30px;
    display:block;
    height: 80px;
    width: 406px;
    position: absolute;
    background-color: black;
}

pianokey{
    width: 50px;
    height: 150px;
    display: block;
    box-shadow: 0px 0px 20px black;
    position: absolute;
    background-color: white;
}

pianokey[status="unpress"]{background-color: #FFFFFF;}

pianokey[status = "onpress"]{background-color: #C0C0C0;}

sharpkey{
    width: 25px;
    height: 100px;
    display: block;
    position: absolute;
    box-shadow: 0px 0px 20px white;
}

sharpkey#S6{width: 13px;}

sharpkey[status="unpress"]{background-color: #000000;}

sharpkey[status = "onpress"]{background-color: #404040;}

sharpkey>p{color:white;}

div#statdisplay{
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    height: 230px;
    width: 400px;
    position: absolute;
    top: 20vh;
    right: 70vw;
    border-radius: 10px;
    box-shadow: 0px 0px 100px darkmagenta;
}


div.note{
    border: 1px solid white;
    display:block;
    height: 20px;
    width: 50px;
    background-color: violet;
    position:absolute;
}

div.note[size = "0.5"]{
    height: 10px;
    background-color: black;
}

div.note[size = "1"]{
    height: 20px;
    background-color: black;
}

div.note[size = "2"]{
    height: 40px;
    background-color: black;
}

div.note[size = "3"]{
    height: 60px;
    background-color: black;
}

div.note[size = "4"]{
    height: 80px;
    background-color: black;
}

div.note[hit = "true"]{box-shadow: 0px 0px 20px white; background-color: pink;}

tile#T0{display:none;}

tile{
    box-shadow: 0px 0px 2px white;
}

tile[keytype = "normal"]{
    display: block;
    height: 450px;
    width: 50px;

    position: absolute;
}
/* tile[status = "miss"]{background-color: rgba(153, 0, 0, 0.2);}

tile[status = "unpress"]{background-image: linear-gradient(#FEAC5E, #C779D0, #4BC0C8);} */
/* 
tile[keytype = "normal"][status = "onpress"]{background-color: black;} */

tile[keytype = "sharp"]{
    display: block;
    height: 450px;
    width: 25px;
    /* background-image: linear-gradient(#FEAC5E, #C779D0, #4BC0C8); */
    position: absolute;
}

tile[keytype = "sharp"]>div.note{width:25px;}

tile#TS6{width:13px;}

p{
    margin-top: 90%;
    margin-left: 30%;
    
}
h1#Thescore{
    color: rgb(51, 255, 51); 
    
}
h1#text{
    color: rgb(51, 255, 51);   
}

p#accuracy{
    margin-left: 10%;
    margin-top: 0%;
    position: relative;
    background: red;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    text-shadow: none;    
}

#S6{width: 20px;}

#subtitle{color:white;}

* {
    box-sizing: border-box;
}
#pacman{
 position:relative;   
}

.progress-bar{
    position:absolute;
    /* left: 20vw; */
    width: 50vw;
    height: 15px;
    /* background-color: yellow; */
    border-radius: 13px;
    padding: 3px;
    margin: 0px auto;

}
.progress{
    width: 20px;
    height: 15px;
    border-radius: 10px;
    background-image: url(images/pacman.png);
    background-size: contain;
}
@keyframes circle {
    from {
     transform: rotate(-225deg);
    }
    to {
    transform: rotate(-180deg);
    }
  }
  
  @keyframes circle2 {
    from {
     transform: rotate(-135deg);
    }
    to {
    transform: rotate(-180deg);
    }
  }
  #progress-header1 {
    position:absolute;
    width: 0px;
    height: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 10px solid transparent;
    border-top: 10px solid yellow;
    border-left: 10px solid yellow;
    border-bottom: 10px solid yellow;
    transform: rotate(-225deg);
    animation: circle 0.5s infinite alternate;    
  }
  #progress-header2 {
    position:absolute;
    width: 0px;
    height: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 10px solid transparent;
    border-top: 10px solid yellow;
    border-left: 10px solid yellow;
    border-bottom: 10px solid yellow;
    transform: rotate(-135deg);
    animation: circle2 0.5s infinite alternate;    
  }